#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #8ddef9;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
}

.error-message, .validation-error {
  color: #ff0000;
  margin-top: 10px;
}

.history {
  margin-top: 20px;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  margin-bottom: 10px;
}

.red-text {
    color: red;
    font-family: Arial;
  }
  
.blue-text {
    color: blue;
    font-family: 'Times New Roman';
  }


/* SIDEBAR ############# */
/* Sidebar.css */

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d5d5d5;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  display: block;
  color: rgb(42, 42, 42);
  padding: 10px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #7cc3e0fe;
}