#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #8ddef9;
  color: #000000;
  border: 2px solid #0056b3; 
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #77aee9;
}

.result {
  margin-top: 20px;
}

.error-message, .validation-error {
  color: #ff0000;
  margin-top: 10px;
}

.history {
  margin-top: 20px;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  margin-bottom: 10px;
}

.red-text {
    color: red;
    font-family: Arial;
  }
  
.blue-text {
    color: blue;
    font-family: 'Times New Roman';
  }


